<div class="container mt-4">
    <h2 class="text-center">Class Test Schedule</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>March 5, 2025</td>
                <td>10:00 AM - 11:30 AM</td>
                <td>Mathematics</td>
                <td>1.5 Hours</td>
                <td>Exam Hall A</td>
            </tr>
            <tr>
                <td>March 7, 2025</td>
                <td>11:45 AM - 1:15 PM</td>
                <td>Physics</td>
                <td>1.5 Hours</td>
                <td>Exam Hall B</td>
            </tr>
            <tr>
                <td>March 10, 2025</td>
                <td>9:00 AM - 10:30 AM</td>
                <td>Computer Science</td>
                <td>1.5 Hours</td>
                <td>Lab 2</td>
            </tr>
            <tr>
                <td>March 12, 2025</td>
                <td>2:00 PM - 3:30 PM</td>
                <td>English</td>
                <td>1.5 Hours</td>
                <td>Room 204</td>
            </tr>
            <tr>
                <td>March 15, 2025</td>
                <td>1:30 PM - 3:00 PM</td>
                <td>Chemistry</td>
                <td>1.5 Hours</td>
                <td>Exam Hall C</td>
            </tr>
        </tbody>
    </table>
</div>
