<div class="container mt-4">
    <h2 class="text-center">Final Exam Schedule</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>May 5, 2025</td>
                <td>9:00 AM - 12:00 PM</td>
                <td>Mathematics</td>
                <td>3 Hours</td>
                <td>Exam Hall A</td>
            </tr>
            <tr>
                <td>May 7, 2025</td>
                <td>1:00 PM - 4:00 PM</td>
                <td>Physics</td>
                <td>3 Hours</td>
                <td>Exam Hall B</td>
            </tr>
            <tr>
                <td>May 9, 2025</td>
                <td>10:00 AM - 1:00 PM</td>
                <td>Computer Science</td>
                <td>3 Hours</td>
                <td>Lab 2</td>
            </tr>
            <tr>
                <td>May 11, 2025</td>
                <td>11:00 AM - 2:00 PM</td>
                <td>English</td>
                <td>3 Hours</td>
                <td>Room 204</td>
            </tr>
            <tr>
                <td>May 13, 2025</td>
                <td>2:00 PM - 5:00 PM</td>
                <td>Chemistry</td>
                <td>3 Hours</td>
                <td>Exam Hall C</td>
            </tr>
        </tbody>
    </table>
</div>
