<div class="container mt-4">
    <h2 class="text-center">Midterm Exam Schedule</h2>
    <table class="table table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Duration</th>
                <th>Venue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>April 10, 2025</td>
                <td>10:00 AM - 12:00 PM</td>
                <td>Mathematics</td>
                <td>2 Hours</td>
                <td>Exam Hall A</td>
            </tr>
            <tr>
                <td>April 12, 2025</td>
                <td>1:00 PM - 3:00 PM</td>
                <td>Physics</td>
                <td>2 Hours</td>
                <td>Exam Hall B</td>
            </tr>
            <tr>
                <td>April 14, 2025</td>
                <td>9:00 AM - 11:00 AM</td>
                <td>Computer Science</td>
                <td>2 Hours</td>
                <td>Lab 1</td>
            </tr>
            <tr>
                <td>April 16, 2025</td>
                <td>11:30 AM - 1:30 PM</td>
                <td>English</td>
                <td>2 Hours</td>
                <td>Room 202</td>
            </tr>
            <tr>
                <td>April 18, 2025</td>
                <td>2:00 PM - 4:00 PM</td>
                <td>Chemistry</td>
                <td>2 Hours</td>
                <td>Exam Hall C</td>
            </tr>
        </tbody>
    </table>
</div>
